<section class="p-5 text-center text-sm-start position-absolute top-50 start-0 translate-middle-y">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1>Welcome to <span class="text-danger">XYZ Bank</span></h1>
                <p class="lead my-4">
                    We focus on our customers need and fulfil those without hazzle
                </p>
                <a
                    class="btn btn-primary btn-lg"
                    routerLink="/login"
                >
                    Start Banking
                </a>
            </div>
        </div>
    </div>
</section>