<div class="container p-5">
    <button type="button" [ngClass]="{'btn-primary': formNo === 1, 'btn-outline-primary': formNo !== 1}" class="mx-2 btn" (click)="formSelect(1)">Account Opening</button>
    <button type="button" [ngClass]="{'btn-primary': formNo === 2, 'btn-outline-primary': formNo !== 2}" class="mx-2 btn" (click)="formSelect(2)">Lending</button>
    <button type="button" [ngClass]="{'btn-primary': formNo === 3, 'btn-outline-primary': formNo !== 3}" class="mx-2 btn" (click)="formSelect(3)">Cheque Deposit</button>
</div>

<app-account *ngIf="formNo === 1"></app-account>
<app-lending *ngIf="formNo === 2"></app-lending>
<app-cheque *ngIf="formNo === 3"></app-cheque>