<div class="col-md-6 col-sm-12 container p-5 pt-0">
    <h2 class="text-center mb-4">Cheque Deposit</h2>
    <form>
        <div class="mb-2">
            <input type="number" class="form-control" id="acc-no" placeholder="Account Number" />
        </div>
        <div class="mb-2">
            <input type="number" class="form-control" id="cheque" placeholder="Cheque Number" />
        </div>
        <div class="mb-2">
            <input type="number" class="form-control" id="amount" placeholder="Amount" />
        </div>
        <div class="mb-2">
            <label for="file" class="col-form-label">Upload the photo of the Cheque:</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="file" class="form-control" id="file"/>
        </div>
        <div class="d-grid">
            <button class="mt-3 btn btn-secondary">Submit Cheque Application</button>
        </div>
    </form>
</div>
